* { box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.cell {
  padding: 1em;
  border: thin solid gray;

}

.button-samu { text-align: center;
  background-color: blueviolet;
  width: 7em;
  height: 7em;
  font-family: fantasy;
  border-radius: 50%;}